.buttonSearch {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid var( --dark-purple);
  border-radius: 5px;
  padding: 0 12px;
  height: 34px;
  cursor: pointer;
}

.buttonSearch:hover {
  background-color: var( --dark-purple);
}

@media (max-width: 375px) {
  .buttonSearch {
    padding: 6px 12px;
  }
}
