@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #fff;
  --red: #ff0000;
  --purple: #7c3aed;
  --gray: #d1d5db;
  --soft-blue: #b3cde0;
  --soft-pink: #fbb1d8;
  --soft-gray: #ffffffe9;
  --dark-purple: #6e21f3;
  --black-shadow: #0000001a;
  --font-raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--soft-pink);
  background: linear-gradient(to right, var(--soft-blue), var(--soft-pink));
  font-family: var(--font-raleway);
}

.app_container {
  text-align: center;
  width: 700px;
}

@media (max-width: 775px) {
  .app_container {
    width: 100%;
  }
}
