@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.app {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeaeca;
  background: linear-gradient(to right, #b3cde0, #fbb1d8);
  font-family: "Raleway", sans-serif;
}

.main_content {
  background-color: #ffffffe9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.app_container {
  text-align: center;
  width: 700px;
}

.search_container {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #d1d5db;
}

.alert {
  text-align: left;
  color: red;
  font-size: 0.8rem;
  padding: 0 5px;
}

@media (max-width: 775px) {
  .app_container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .search_container {
    flex-direction: column;
  }

  .search_input {
    width: 100%;
  }
}
