.search_input {
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  border-radius: 5px;
}

.alert {
  text-align: left;
  color: red;
  font-size: 0.8rem;
  padding: 0 5px;
}

@media (max-width: 375px) {
  .search_input {
    width: 100%;
  }
}
