.inputSearch {
  padding: 8px 12px;
  border: 1px solid var(--gray);
  background-color: var(--soft-gray);
  border-radius: 5px;
}

.errorMessage {
  text-align: left;
  color: var(--red);
  font-size: 0.8rem;
  padding: 0 5px;
}

@media (max-width: 375px) {
  .inputSearch {
    width: 100%;
  }
}
